/* body {
    display: grid;
    grid-template-columns: 5fr 5fr;
} */

.game-name {
  font-size: 25px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
}

.user-login {
  padding-left: 15px;
  padding-top: 5px;
}

.tile {
    border: 1px solid #2c3e50;
}

#shape {
    background-color: red;
    background-repeat: no-repeat;
    background-size: 5vw 5vw;
    background-position: center;
}

.gamebox {
    margin: auto;
    border: 1px solid black;
    width: 800px;
    height: 650px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 15% auto;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.item1 {
  display: grid;
  grid-template-rows: 10% auto;
}

.game-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-game-score-box {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;

}

.score {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 23px;
}

.tetris-board {
  margin: auto;
  width: 270px;
  height: 540px;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(10, 1fr);
}

.game-over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: column;
  background-color: #a5a5a561;
  color: red;
  font-weight: bold;
  font-size: 30px;
  width: 270px;
  height: 540px;
}

.game-board-container {
  position: relative;
}

.item3 {
  display: grid;
  grid-template-rows: 15% auto;
}

.button1 {
  background-color: #150f1361; /* Green */
  border-radius: 5px;
  border: none;
  outline: 0px;
  color: white;
  /* padding: 14px 45px; */
  width: 120px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.previous-scores-box {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 80px;
  font-size: 15px;
  padding: 5px 0 0 5px;
}

.high-score-box {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 20px;
  font-size: 15px;
  padding: 5px 0 0 5px;
}

#previous-games-list {
  margin: 5px 5px 0 0;
  padding-left: 20px;
}